html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 10px;
}


/* header { */
/*   text-align: center; */
/*   margin-bottom: 20px; */
/* } */

.options,
.graphics-options,
.keys {
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

/* input[type="text"], */
/* button, */
/* input[type="checkbox"] { */
/*   padding: 8px; */
/*   border: 1px solid #ccc; */
/*   border-radius: 4px; */
/* } */

/* button { */
/*   background-color: #007bff; */
/*   color: #fff; */
/*   cursor: pointer; */
/* } */

/* canvas { */
/*   display: block; */
/*   align-items: center; */
/*   margin-top: 10px; */
/*   border: 1px solid #ccc; */
/*   border-radius: 4px; */
/* } */


/**/



.arrow-key-container {
  display: inline-block;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.arrow-key {
  align-items: center;
  background: #ccc;
  border-radius: 6px;
  box-shadow: -1px 1px 0 #999, -2px 2px 0 #999, -3px 3px 0 #999, -4px 4px 0 #999;
  color: #fff;
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  justify-content: center;
  margin: 5px;
  transform: translate3d(0, 0, 0);
  transition: box-shadow 0.1s linear, transform 0.1s linear;
  width: 75px;
}

.arrow-key:active,
.arrow-key.press {
  box-shadow: 0px 0px 0 #999, 0px 0px 0 #999, 0px 0px 0 #999, -1px 1px 0 #999;
  transform: translate3d(-3px, 3px, 0);
}

.arrow-key.left:before {
  content: "\2190";
}

.arrow-key.up:before {
  content: "\2191";
}

.arrow-key.plus:before {
  content: "+";
}

.arrow-key.minus:before {
  content: "-";
}

.arrow-key.down:before {
  content: "\2193";
}

.arrow-key.right:before {
  content: "\2192";
}
